/*
project: web application template
author: luka cvrk (www.solucija.com)
*/

* { margin: 0; padding: 0; }
body { margin: 19px 0 0; background: #fff url(images/bg.gif) repeat-x; font: 100% Trebuchet MS, Arial, Sans-Serif; color: #444; }
h1 { font-size: 3em; font-weight: normal;border-bottom: 1px solid #eee;}
h1 a { text-decoration: none; }
h3,h2 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em;}
#teaser h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }
p  { margin: 0 0 1.5em 0; line-height: 1.8em; }
em { border-bottom: 1px dotted #fff; cursor: pointer; }
a { color: #9D2900; }
a:hover { color: #A0000E; text-decoration: none; }
img { border: 0; }
.highlight { color: #9D2900; }

.container {margin: 0 auto;font-size:0.74em;/* fontsize was previously delcared 100% which normalizes fontsize between some browsers */}
 
#header { 
float:left;
background: url(images/adt-headerbgbottom.gif) repeat-x bottom; 
padding:10px 0;
width:100%;
}
#header .container {position:relative;}
#header a#logo {float:left;margin-right:20px;}
#header h1 {
float:left;
border:none;margin-top:20px;
}
#header h2 {float:left;border:none;width:100%;clear:left;font-weight:normal;fontstyle:italic;font-size:1.4em;}
#header ul  { position:absolute;right:0; padding: 6px 0 0 0; list-style: none;margin:0; }
#header ul li { display: inline; }
#header ul a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
#header ul a:hover { color: #000; border-bottom: 2px solid #ccc; }
#header ul .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
 
#teaser { 
clear: both;
float:left;
width:100%;
min-height: 140px; 
background: #003043 url(images/adt-teaserbg.gif) repeat-x; 
}
* html #teaser {height:140px;} /* ie ->]6 min-height hack */
#teaser .block { float: left; color: #C7E3EE;margin:10px 5px;}
#teaser a {color: #C7E3EE;}
#teaser p {margin:0.5em 0;}

#bar { 
clear:both;
float:left;
width:100%;
padding:5px 0;
background: #1c1c1c url(images/bar.gif) repeat-x; 
}
#bar ul {margin:0;padding:0;foat:}
#bar ul li { 
cursor: pointer; 
color: #FAFDDD; 
padding: 4px 0 0 40px; 
margin: 0 2px 0 0; 
font-size: 1.4em; 
float: left; 
text-align: center; 
background: url(images/step.gif) no-repeat; height: 30px; 
list-style:none;
list-style-type:none;
text-transform:capitalize;
}
#bar ul li a { 
color: #fff; 
margin: 0 10px 0 0; 
}
#bar ul li a.active {color:#9D2900;}

#schoen { color: #808080;text-align:center;clear: both; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff;}
#schoen a { color: #808080;text-decoration:none;border-bottom:1px dashed #ccc;}

/*** Drupal Stuff ***/

#main div.node {
margin-bottom:20px;
}

.submitted,div.links,.taxonomy { 
display:block;
border: 1px solid #e0e0e0;
background: #f4f4f4;
padding: 7px;
clear:both;
}
.taxonomy {
margin-bottom:1em;
}

.submitted ul,div.links ul,.taxonomy ul {
margin:0!important;
padding:0;
}


h3#mission {
font-weight:normal;
font-style:italic;
border:none;
padding:3px;

}

.node ul,.node ol,.node dl {
margin-left:20px;
}

.comment {
border:solid #CCC;
border-width:0 0 2px 0;
margin-bottom:1em;
padding:0.5em 0;
}
.comment .submitted {padding:1px;}

.comment div.picture {
float:right;
margin:0 0 2px 2px;
}
.node div.picture {
float:left;
margin:0 2px 2px 0;
}

.sidebar .block {
margin-bottom:20px;
width:100%;
}

/* Columns */

#main,.sidebar {margin-top:20px;}

#main,.sidebar.left {
float:left;
}
.sidebar.right {
float:right;
padding-left:2%;
}
.sidebar.left {
padding-right:2%;
}

/* AllDrupalThemes.com interface enhancements */

#autocomplete {
font-weight:bold;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
margin:0;
border-color:#CCC;
padding:1px;
}
#autocomplete li {
background:#EEE;
border-bottom:1px solid white;
}

body #main fieldset {
margintop:1em 0;
border:1px solid #ccc;
min-height:2em;
}
* html #main fieldset {
min-height:2em;
}
#main legend {
border:1px solid #ccc;
display:inline!important;
padding:2px;
margin:0.5em 0;
}

#main legend a {
padding-left:20px!important;
}

input.form-submit,input.form-text {
margin:0.5em 0;
}
div.node-form input.form-submit {
margin:1em 0!important;
}

tr.odd {
background:#eeeeee;
}
tr.even {
background:#e4e4e4;
}

.adminpage #main table {
position:relative; /* z-index relative positioning space */
z-index:5; /* up we go */
}